
  body 
  {
    background-color:#292F24;
  }
  
  div.top-wrapper
  {
    color: #000000;
    background: #3498db;
    height: 100px;
    top: 0px;
    padding: 0px;
    font-family: Tahoma, sans-serif;
  }
  
  div.bottom-wrapper
  {
    color: #FFFFFF;
    text-align: right;
    font-family: Arial;
    font-size: 10px;
    
  	position:absolute;
    bottom:0;
    right:0;
  }
  
  .button
  {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 36;
    -moz-border-radius: 36;
    border-radius: 36px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    border: solid #ccc4c5 3px;
    text-decoration: none;
  }
  
  /* created in--> http://css3buttongenerator.com/  */
  .button:hover 
  {
    background: #59bfff;
    background-image: -webkit-linear-gradient(top, #59bfff, #3498db);
    background-image: -moz-linear-gradient(top, #59bfff, #3498db);
    background-image: -ms-linear-gradient(top, #59bfff, #3498db);
    background-image: -o-linear-gradient(top, #59bfff, #3498db);
    background-image: linear-gradient(to bottom, #59bfff, #3498db);
    text-decoration: none;
  }
  
  div.main-body
  {
    min-width: 1000px;
    padding: 15px;
  }
  
  div.new-user
  {
    float: left; 
    background-color: #777; 
    width: 500px;
  }
  
  div.reg-user
  {
    float: right; 
    background-color: #aaa; 
    width: 500px;
  }
  
  div.tabholder
  {
    color:#FFFFFF;
    min-width: 1000px;
  }
  
  div.tabs
  {
    color: red;
    border: 2px;
    float: left; 
    background-color: #777;
  }
  
  td#padding-tab
  {
    width:20px;
    height: 20px;
  }
  
  td#padding
  {
    width: 100px;
  }
  
  td.label
  {
    background-color: #E3DFF2;
  }
  
  textarea#interests, textarea#references 
  {
    width: 500px;
    height: 175px;
  }
  
  textarea.workexp
  {
    width: 250px;
    height: 84px;
  }
  
  input.counter
  {
    width:30px;
  }
